{% extends 'base.html' %}

{% block body %}
        
<h1>agregar producto</h1>
<form role="form" action="" method="post" class=<div class="form-group">

    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button class="btn btn-primary text-center" type="submit">agregar</button>
    </div>
</form>
<p>lista de productos</p>
{% for p in productos %}
    <ul>{{ p }} : ${{ p.producto.precio }}</ul>
{% endfor %}


<a href="{% url 'lista:index' %}">ir al inicio</a>
    
{% endblock body %}
</body>
</html>