{% extends 'base.html' %} {% block body %}

<br>
<div class="container container-fluid">

    <div class="card">
        <div class="card-body">
            <form role="form" action="" method="post" class="form-horizontal">
                {% csrf_token %} {{ form.as_p }}
                <div>
                    <button class="btn btn-primary text-center" type="submit">crear</button>
                </div>
            </form>
        </div>
    </div>
    <br>

    <div class="btn-group" role="group" aria-label="">
        <a class="btn btn-primary" href="{% url 'lista:index' %}" role="button">ir al inicio</a>
    </div>



</div>
{% endblock body %}